* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-9900: #031c38;
  --color-9901: #062c5e;
  --color-9902: #fcbd69;
  --color-9903: #021f44;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}

/* Header part */
  .header-top-strip {
    border-bottom: 1px solid var(--color-9901);
    background-color: var(--color-9900);
  }

  .header-upper {
    background-color: var(--color-9900);
  }
  
  .header-upper .input-group-text {
    background-color: var(--color-9902);
  }
  .header-nav {
    background-color: var(--color-9903);
  }
  .header-nav .menu-links a,
  .header-nav .dropdown button {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.3;
    text-transform: uppercase;
  }
  header-nav .dropdown button:focus {
    box-shadow: none;
  }
  .header-nav .dropdown-menu {
    background-color: var(--color-9900);
    width: 100%;
    transform: translate3d(0px, 57px, 0px) !important;
  }
  .header-nav .dropdown-item:hover {
    background: transparent;
    color: var(--color-9902) !important;
  }
  .header-nav .dropdown-item {
    padding: 20px;
    margin-bottom: 3px;
    border-bottom: 1px solid var(--color-9901);
  }
/* End of Header part */

/* Footer Part */
footer {
  background-color: var(--color-9901);
}
footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, .1);
}
footer .input-group-text {
  background-color: var(--color-9901);
  color: #fff;
  padding: 8px 17px;
}
/* End of Footer part */